<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>MYBook</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  
</head>
<body>

    <div class="loading" style="">
       <div class="sk-circle">
  <div class="sk-circle1 sk-child"></div>
  <div class="sk-circle2 sk-child"></div>
  <div class="sk-circle3 sk-child"></div>
  <div class="sk-circle4 sk-child"></div>
  <div class="sk-circle5 sk-child"></div>
  <div class="sk-circle6 sk-child"></div>
  <div class="sk-circle7 sk-child"></div>
  <div class="sk-circle8 sk-child"></div>
  <div class="sk-circle9 sk-child"></div>
  <div class="sk-circle10 sk-child"></div>
  <div class="sk-circle11 sk-child"></div>
  <div class="sk-circle12 sk-child"></div>
</div>
    </div>
  <nav>
    <div class="nav_content">
      <div class="left left_nav">
        <div class="left">
            <div class="nav_img">
              <img src="{% static 'images/no-image.jpg' %}" alt="">
              <span class="username">{{ user.get_full_name }}</span>
            </div>
        </div>
        <div class="right menu_bars">
          <span class="fa fa-bars"></span>
        </div>
        <div class="clear"></div>
      </div>
      <div class="right right_nav">
        <ul class=>
          <li><a href="{% url 'posts:dashboard' %}"><span class="fa fa-home"></span> home</a></li>
          <li><a href="{% url 'posts:dashboard' %}"><span class="fa fa-refresh"></span> Refresh</a></li>
          <li><a href="#"><span class="fa fa-users"></span> friends</a></li>
          <li><a href="#"><span class="fa fa-cogs"></span> setting</a></li>
          <li><a href="{% url 'accounts:logout' %}"><span class="fa fa-sign-out"></span> logout</a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </nav>

  <div id="maincontent">
   
    <!-- left content starts here -->
    <div class="left_content left">
        
        <div class="left_top_content">
          <div class="friends_count">
            <span class="sub_title">
              Friends
            </span>
            <br>
            <span class="count">{{ user_count }}</span>
          </div>
          <div class="posts_count">
            <span class="sub_title">
              Posts
            </span>
            <br>
            <span class="count">{{ post_count }}</span>
          </div>
        </div>
        <div class="left_bottom_content">
        <h4>Friends List</h4>
            <ul class="friends_list">

              {% for user in users %}

              <li>
                <div>
                  <img src="{% static 'images/no-image.jpg' %}" alt="">
                  <span class="username">{{ user.get_full_name }}</span>
                </div>
              </li>
            
              {% endfor %}

            </ul>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>

    </div>
    <!-- left content ends here -->

   <!-- left content starts here -->
    <div class="right_content left">
     
      <div class="page_heading">
        <span class="title">Posts</span>
      </div>
     

      <div class="new_post">
      <form action="" id="post_form">
      {% csrf_token %}
        <div id="post_form_container">

          <div style="margin-bottom:20px">
            <input type="text" name="title" placeholder="Enter your title here.." id="id_title">

          </div>
          <div>
            <textarea name="post" id="id_post" placeholder="Post your content here...."></textarea>
          </div>
          <div>
            <button class="post_btn pull-right" type="submit">Post <span class="fa fa-paper-plane-o"></span> </button>
            <div class="clearfix"></div>
          </div>
        </div>
        </form>
      </div>
      
      <!--- post title starts here -->
      {% for post in posts %}
      <div class="post_item">

        <div class="item_heading">
          <div style="display:inline-block">
            <img src="{% static 'images/no-image.jpg' %}" alt="">
          </div>
          <div class="item_title">
            <span class="posted">{% if not post.user == user %}{{ post.user.get_full_name }} {% else %} Me {% endif %} <i>posted this article</i></span>
            <br>
            <span class="post_date"><span class="fa fa-clock-o"></span> <i style="text-transform:capitalize">{{ post.created_at|date:'d b Y h:i A'}}</i></span>
          </div>
          {% if not post.user == user %}
            <div class="block_user pull-right" data-post="{{ post.pk }}">
                <span class="fa fa-ban text-danger block"></span>
            </div>
          {% endif %}
          <div class="clearfix"></div>
        </div>
        
        <div class="post_title">
          <h3>{{ post.title }}</h3>
          <p>
            {{ post.post }}
          </p>
        </div>

      </div>
      <!--- post title ends here -->
      {% endfor %}

    </div>
    <!-- right content ends here -->
    <div class="clear"></div>

  </div>
  <div class="post_layer"></div>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/toastr.min.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
  
  <script>

  $(document).ready(function(){

    $("#id_title, #id_post").focus(function(){
      show("post_layer");
    }).focusout(function(){
      hide("post_layer");
    });


      $('#post_form').submit(function(e){
        e.preventDefault();

        $this = $(this);
        var data = $this.serialize();
        var url = "{% url 'posts:create_post' %}";
        var method = "post";
        $("label.error").remove();
       show("loading");
       $.ajax({
          url : url,
          type : method,
          dataType: "JSON",
          data : data,
          success:function(data){
            hide("loading");
            var status = data["status"]
            var message = data["message"]
            if (status >= 0){
                toastr.success(message);
                location.reload();
            }
            else{
              var refresh_page = data["refresh_page"]
              if (refresh_page < 0){
                location.reload();
              }

              var errors = data["errors"]
              toastr.warning("Please correct the errors.");
              var errors = data["errors"]
              var found_admin = false
               $.each(errors, function(key, value){
                    var str_val = String(value)
                    var n = str_val.indexOf("administrator");
                    console.log(n);
                    if (n>0){
                      found_admin = true
                    }      
                    console.log(key+":"+value)
                    var input_id = "#id_"+key;
                    $input_parent = $this.find("#id_"+key).parent("div");
                    $input_parent.find("label.error").remove();

                     var label_error = '<label class="error" for="'+input_id+'">'+value+'.</label>'

                     $input_parent.append(label_error);
                     $(input_id).focus();
                });

               if (found_admin){
                  setTimeout(function(){
                        location.reload();
                    },3000);
               }

            }
           
          },
          error:function(data){
            hide("loading");
            toastr.warning("Server errors occured");
          }
       });

      });



      $('#block_form').submit(function(e){
        e.preventDefault();

        $this = $(this);
        var data = $this.serialize();

        var url = "{% url 'posts:block_user' %}";
        var method = "post";
        $("label.error").remove();
       show("loading");
       $.ajax({
          url : url,
          type : method,
          dataType: "JSON",
          data : data,
          success:function(data){
            hide("loading");
            var status = data["status"]
            var message = data["message"]
            if (status >= 0){
                toastr.success(message);
                location.reload();
            }
            else{
              toastr.warning("Please correct the errors.");
              var errors = data["errors"]
               $.each(errors, function(key, value){
                            
                    console.log(key+":"+value)
                    var input_id = "#id_"+key;
                    $input_parent = $this.find("#id_"+key).parents(".parent_div");
                    $input_parent.find("label.error").remove();

                     var label_error = '<label class="error" for="'+input_id+'">'+value+'.</label>'

                     $input_parent.append(label_error);
                     
                });

            }
           
          },
          error:function(data){
            hide("loading");
            toastr.warning("Server errors occured");
          }
       });

      });


    $(".block").click(function(){
      var post_id = $(this).parent("div").data("post");
      $("#id_post_id").val(post_id);
      $('#myModal').modal('show')
    });
    
  

  });

  </script>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Block Content</h4>
      </div>
      <form action="" id="block_form">
      {% csrf_token %}
      <div class="modal-body">
          <input type="hidden" name="post_id" id="id_post_id" >
        <div id="post_form_container">

          <div style="margin-bottom:20px" class="parent_div">
            <input type="text" class="form-control" name="words" placeholder="Enter bad words with comma seperate" id="id_words">

          </div>
          <div class="parent_div">
            <label style="font-weight:100;"><input type="checkbox" name="is_post_blocked" id="id_is_post_blocked" style="margin-right:10px;">Block Post</label>
            <br>
          </div>
          <div class="parent_div">
            <label style="font-weight:100"><input style="margin-right:10px;"type="checkbox" id="id_is_user_blocked" name="is_user_blocked" >Block User</label>
            <br>
          </div>
          <div>
            
            <div class="clearfix"></div>
          </div>
        </div>
       
      </div>
      <div class="modal-footer">
        <button class="post_btn pull-right" type="submit">Block <span class="fa fa-ban"></span> </button>
      </div>
       </form>
    </div>

  </div>
</div>


</body>
</html>